.logo-link {
  display: inline-flex;
  align-items: center;
  position: relative;
  color: var(--accent-color);
  text-decoration: none;
  font-size: 1.375rem;
  font-weight: 800;

  @include respond-to('medium') {
    font-size: 1.75rem;
  }
}

.logo-link-image {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.9375rem;

  @include respond-to('medium') {
    width: 3.125rem;
    height: 3.125rem;
  }
}
