$break-small: 35.5rem; // >= 568px @ 16px
$break-medium: 48rem; // >= 768px @ 16px
$break-large: 64rem; // >= 1024px @ 16px
$break-extra-large: 80rem; // >= 1280px @ 16px
$break-largest: 90rem; // >= 1440px @ 16px

@mixin respond-to( $condition ) {
  @if $condition == 'initialize' { @media only screen and (min-width: 0.0625rem) { @content; } }

  @if $condition == 'small' { @media only screen and (min-width: $break-small) { @content; } }

  @if $condition == 'medium' { @media only screen and (min-width: $break-medium) { @content; } }

  @if $condition == 'large' { @media only screen and (min-width: $break-large) { @content; } }

  @if $condition == 'extra-large' { @media only screen and (min-width: $break-extra-large) { @content; } }

  @if $condition == 'largest' { @media only screen and (min-width: $break-largest) { @content; } }
}

@mixin transition($transition: all linear 0.2s) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  transition: $transition;
}

@mixin transform($transform: translate3d(0, 0, 0)) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}
