:root {
  --font-family: 'Poppins', Helvetica, Arial, sans-serif;
  --font-base: 1rem;
  --mobile-space: 1.25rem;
  --max-wrapper-width: 62.5rem;
  --accent-color: #2d133a;
  --text-color: #1e1524;
  --background-color: #f9fdff;
  --border-color: #e1f1fe;
  --light-color: #72768f;
  --badge-color: #bdd7fe;
  --features-background-color: #f4f1de;
  --bottom-cta-border-color: #1c0d24;
}
